{% extends 'base.html' %}

{% block title %}The Guardian in review{% endblock %}

{% block content %}

<header><h1 class="title"><span class="brand-name">The Guardian</span> week in review</h1></header>

<blockquote class="app-quote">
	<p>A review of the top 100 pieces of content on the Guardian in the last week.</p>
	<p>Like Zeitgeist but worse...</p>
	<p>All content is ordered according to how popular it was with the readers of the Guardian website.</p>
</blockquote>

<div id="tabs" class="tabs">

<ul>
	<li><a href="#news">News</a></li>
	<li><a href="#features">Features</a></li>
	<li><a href="#liveblogs">Live blogs</a></li>
	<li><a href="#videos">Videos</a></li>
	<li><a href="#sport">Sport</a></li>
	<li><a href="#blogs">Blogs</a></li>
	<li><a href="#reviews">Reviews</a></li>
</ul>

<section id="news" class="news items">
	<header><h1>News</h1></header>
{% for item in news %}
{% set position = loop.index %}
{% include "article.html"%}
{% endfor %}
</section>

<section id="features" class="features items">
	<header><h1>Features</h1></header>
{% for item in features %}
{% set position = loop.index %}
{% include "article.html"%}
{% endfor %}
</section>


<section id="liveblogs" class="liveblogs items">
	<header><h1>Liveblogs</h1></header>
	{% for item in liveblogs %}
	{% set position = loop.index %}
	{% include "article.html" %}
	{% endfor %}
</section>

<section id="videos" class="videos items">
	<header><h1>Videos</h1></header>
	{% for item in videos %}
	{% set position = loop.index %}
	{% include "article.html" %}
	{% endfor %}
</section>

<section id="sport" class="sport items">
	<header><h1>Sport</h1></header>
	{% for item in sport %}
	{% set position = loop.index %}
	{% include "article.html" %}
	{% endfor %}
</section>

<section id="blogs" class="blogs">
	<header><h1>Blogs</h1></header>
{% for item in blogs %}
{% set position = loop.index %}
{% include "article.html"%}
{% endfor %}
</section>


<section id="reviews" class="reviews items">
	<header><h1>Reviews</h1></header>
	{% if not reviews %}
	<p>No content this week.</p>
	{% endif %}
	{% for item in reviews %}
	{% set position = loop.index %}
	{% include "article.html" %}
	{% endfor %}
</section>
</div>




<script type="text/coffeescript">
	console.log "Hello world"
	$ ->
		$("#tabs").tabs()
		console.log $("#tabs")
</script>

{% endblock %}
