{% extends 'base.html' %}

{% block title %}The Guardian in review{% endblock %}

{% block content %}

<header><h1 class="title"><span class="brand-name">The Guardian</span> week in review</h1></header>

<blockquote class="app-quote">
	<p>A review of the top 100 pieces of content on the Guardian in the last week.</p>
	<p>Like Zeitgeist but worse...</p>
	<p>All content is ordered according to how popular it was with the readers of the Guardian website.</p>
</blockquote>

{% if not content_sections %}
<p>No archive data available</p>
{% endif %}

<div id="tabs" class="tabs">

	<ul>
	{% for content in content_sections %}
	<li><a href="#{{content.id}}">{{content.title}}</a></li>
	{% endfor %}
	</ul>

	{% for content in content_sections %}
	<section id="{{content.id}}" class="{{content.id}} items">
		<header><h1>{{content.title}}</h1></header>
		{% if not content.items %}
		<p>No content this week.</p>
		{% endif %}
		{% for item in content.items %}
		{% set position = loop.index %}
		{% include "article.html" %}
		{% endfor %}
	</section>
	{% endfor %}


</div>




<script type="text/coffeescript">
	console.log "Hello world"
	$ ->
		$("#tabs").tabs()
		console.log $("#tabs")
</script>

{% endblock %}
