{% extends 'base.html' %}

{% block title %}The Guardian in review{% endblock %}

{% block content %}

<header><h1>The week in review</h1></header>

<blockquote class="app-quote">
	<p>The past week on the Guardian in review</p>
	<p>Like Zeitgeist but worse...</p>
</blockquote>

<div id="tabs" class="tabs">

<ul>
	<li><a href="#news">News</a></li>
	<li><a href="#videos">Videos</a></li>
</ul>

<section id="news" class="news">
	<header><h1>News</h1></header>
{% for item in news %}
{% set position = loop.index %}
{% include "article.html"%}
{% endfor %}
</section>

<section id="videos" class="videos">
	<header><h1>Videos</h1></header>
	{% for item in videos %}
	{% set position = loop.index %}
	{% include "article.html" %}
	{% endfor %}
</section>

</div>

<section>
{% for item in popular_content %}
{% include "article.html" %}
{% endfor %}
</section>



<script type="text/coffeescript">
	console.log "Hello world"
	$ ->
		$("#tabs").tabs()
		console.log $("#tabs")
</script>

{% endblock %}
